---
layout: page
---

{{ content }}


<link rel="stylesheet" href="/assets/css/contact.css">

<section class="hero">
  <div class="hero-content">

    <div class="hero-buttons">
      <a href="/assets/pdf/ryan-mckenna-cv.pdf" class="btn primary">📄 Download CV</a>
      <a href="/projects" class="btn secondary">🔧 View Projects</a>
      <a href="/articles" class="btn secondary"> 🖋️ View Articles</a>

    </div>

  <!-- Contact Form -->
   <h3>Send a Message</h3>
  <form action="https://formspree.io/f/mdkpnrvw" method="POST" class="contact-form">
    <input type="hidden" name="_next" value="https://www.mckenna-technologies.com/">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>

    <label for="company-name">Company name</label>
    <input type="text" id="company-name" name="company-name" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="_replyto" required>

    <label for="message">Message</label>
    <textarea id="message" name="message" rows="4" required></textarea>

    <button type="submit" class="btn primary">📩 Send Message</button>

  </form>

  <!-- Calendly inline widget begin -->
   <h3>Book a meeting</h3>
  <div class="calendly-inline-widget" data-url="https://calendly.com/ryan-mckenna002/30min" style="min-width:320px;height:700px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  <!-- Calendly inline widget end -->

  </div>
</section>

